.elementForm{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.elementForm label{
  margin-bottom: 5px;
  width:auto;
}

.elementSelecType{
  display: grid;
  grid-template-columns: 220px 220px;
  grid-template-rows: 40px 60px 60px;
  text-align: center;
  margin-bottom: 20px;
}
.selectTypeTitle{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
.elementSelecType label{
  font-size: 1.2em;
  font-weight: 400;
  margin-right: 30px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
  -webkit-text-fill-color: black;
  box-shadow: 0 0 0px 1000px orange inset;
}
